$def with(order_summary, order_detail, booking_status)

<h1>管理员操作</h1>
<div>
<form action="order_commit" method="POST">
$if booking_status == 0 :
	<input type="submit" name="enable_booking" value="开启订餐">
$else :	
	<input type="submit" name="disable_booking" value="关闭订餐">
</form>
<form action="order_commit" method="POST">
<input type="submit" name="commit_order" value="提交订单">
</form>
</div>
</br></br></br>

<h1>订餐列表</h1>
<table width="500" border="1">
<tr align="left">
  <th>餐厅名</th>
  <th>电话</th>
  <th>菜单名</th>
  <th>数量</th>
</tr>
$for item in order_summary:
    <tr align="left">
	  <td>$item.restaurant_name</td>
	  <td>$item.restaurant_phone</td>
      <td>$item.dish_name</td>
      <td>$item.count</td>
    </tr>
</table>
</br>
</br>
<h1>订餐详情</h1>
<table width="500" border="1">
<tr align="left">
  <th>用户</th>
  <th>餐厅名</th>
  <th>菜单名</th>
  <th>价格</th>
  <th>下单时间</th>
</tr>
$for item in order_detail:
    <tr align="left">
	  <td>$item.user_name</td>
	  <td>$item.restaurant_name</td>
      <td>$item.dish_name</td>
	  <td>$item.price</td>
	  <td>$item.booking_time</td>
    </tr>
</table>
